version: '3.7'
services:
  application:
    container_name: syspass
    image: syspass/syspass:3.1.2
    restart: unless-stopped
    expose:
      - "443"
    volumes:
      - syspass-config:/var/www/html/sysPass/app/config
      - syspass-backup:/var/www/html/sysPass/app/backup
    environment:
      - VIRTUAL_PORT=443
      - VIRTUAL_PROTO=https
      - USE_SSL=yes
    env_file:
      - ./syspass/syspass-variables.env

  database:
    container_name: mariadb
    restart: unless-stopped
    image: mariadb:10.3
    expose:
      - "3306"
    volumes:
      - syspass-db:/var/lib/mysql
    env_file:
      - ./mariadb/mariadb-variables.env

  proxy:
    container_name: nginx
    restart: unless-stopped
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - nginx-conf:/etc/nginx/conf.d
      - nginx-certs:/etc/nginx/certs
      - nginx-vhost:/etc/nginx/vhost.d
      - nginx-html:/usr/share/nginx/html

  proxy-generator:
    container_name: nginx-proxy-gen
    restart: unless-stopped
    image: jwilder/docker-gen
    depends_on:
      - proxy
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - nginx-conf:/etc/nginx/conf.d
      - nginx-certs:/etc/nginx/certs
      - nginx-vhost:/etc/nginx/vhost.d
      - nginx-html:/usr/share/nginx/html
      - ./nginx/templates:/etc/docker-gen/templates
    command: "-notify-sighup nginx -watch /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf"

  certificates:
    container_name: nginx-letsencrypt
    restart: unless-stopped
    image: jrcs/letsencrypt-nginx-proxy-companion
    depends_on:
      - proxy
      - proxy-generator
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - nginx-certs:/etc/nginx/certs
      - nginx-vhost:/etc/nginx/vhost.d
      - nginx-html:/usr/share/nginx/html
    environment:
      - NGINX_PROXY_CONTAINER=nginx
      - NGINX_DOCKER_GEN_CONTAINER=nginx-proxy-gen

volumes:
  syspass-config: {}
  syspass-backup: {}
  syspass-db: {}
  nginx-conf: {}
  nginx-certs: {}
  nginx-vhost: {}
  nginx-html: {}

